@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0px;
    padding: 0px;
    color: #f6f7f9;
    font-family: 'JetBrains Mono';
}
a {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(./assets/calculator-bg.png);

    justify-content: center;
    align-items: center;
}
[id] { 
    scroll-margin-top: 150px; 
}
::selection {
    /* background-color: ;
    color: ; */
}

.container {
    background-color: #3b4252;
    border-radius: 1rem;
    -webkit-box-shadow: 1px 1px 10px 10px rgba(0,0,0,0.2); 
    box-shadow: 1px 1px 10px 10px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: auto;
}

/* Window bar of the calculator */
.windowbar {
    display: flex;
    justify-content: space-between;
    background-color: #2b313c;
    padding: 0.5rem 1rem 0.4rem;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    gap: 1rem;
    border-bottom: 0.5px solid #1f232b80;
}
.boxed-windowbar-button {
    color: #cecece;
    background-color: #2a2f3a;
    padding: 0.4rem 1rem;
    text-align: center;
    border: 0.5px solid #1f232b;
    border-radius: 0.3rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    transition: background-color 0.2s, transform 0.1s;
}
.boxed-windowbar-button img {
    height: 1rem;
    width: 1rem;
}
.windowbar-buttons {
    display: flex;
    gap: 0.8rem;
}
.boxed-windowbar-button.modes {
    font-weight: 700;
}
.circled-windowbar-button {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    border: 0.5px solid rgba(31, 35, 43, 0);

    display: flex;
    align-items: center;
    justify-content: center;
}
.circled-windowbar-button img {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;

    height: 0.9rem;
    width: 0.9rem;
}
.circled-windowbar-button:hover img {
    opacity: 1;
}
.circled-windowbar-button.minimize {
    background-color: #ebcb8b;
}
.circled-windowbar-button.maximize {
    background-color: #a3be8c;
}
.circled-windowbar-button.exit {
    background-color: #bf616a;
}

/* Past calculations section */
.history {
    background-color: #2c313c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    height: 8rem;
    align-items: flex-end;
    user-select: none;
}
.operation {
    color: #cecece;
    width: 9rem;
}
.equals {
    color: #cecece;
}
.result, .output {
    font-weight: bold;
    color: #e7e8e9;
}
.result, .output, .operation {
    font-size: 1.1rem;
}

/* Ouput section of the calculation */
.output {
    background-color: #2e3440;
    border-top: 0.5px solid #1f232b;
    border-bottom: 0.5px solid #1f232b;
    display: flex;
    align-items: flex-start;
    height: 4rem;
    padding: 0.5rem 1rem;
}

/* Input keys section */
.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    padding: 1rem;
}
.first-row, .second-row, .third-row, .fourth-row, .fifth-row, .bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.3rem;
}
.key {
    background-color: #303643;
    border: 0.5px solid #1f232b;
    border-radius: 0.3rem;
    height: 2.8rem;
    width: 4.7rem;
    transition: background-color 0.1s, transform 0.1s;
}
.key:hover, .boxed-windowbar-button:hover {
    background-color: #4c566a;
}
.bottom-left-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}
.key.clear {
    border: 0;
    background-color: #bf616a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.key.clear img {
    height: 1.1rem;
    width: 1.1rem;
}
.key.equals {
    border: 0;
    background-color: #5e81ac;
    height: 5.9rem;
    font-weight: 800;
}
.key.number {
    font-weight: 800;
}